# tr -cd '[:alnum:][:punct:]' < /dev/urandom | tr -d '\\"`' | tr -d "'" |head -c 20
IMPUTATION_SERVER_SECRET_KEY=changeme
BCFTOOLS_IMAGE_PATH=~/singularity-cache/biocontainers_bcftools:v1.9-1-deb_cv1.sif