<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Selection</title>
</head>
<body>
    
<form method="POST">
    <select name="dropdown1">
        {% for option in options1 %}
            <option value="{{ option }}" {% if selections[0] == option %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>

    {% if show_text_input %}
        <input type="text" name="text_input" placeholder="Enter Text">
        <button type="submit" name="submit_text">Submit Your Model Path</button>
    {% endif %}


    {% if options2 %}
        <select name="dropdown2">
            {% for option in options2 %}
                <option value="{{ option }}" {% if selections[1] == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if options3 %}
        <select name="dropdown3">
            {% for option in options3 %}
                <option value="{{ option }}" {% if selections[2] == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if options4 %}
        <select name="dropdown4">
            {% for option in options4 %}
                <option value="{{ option }}" {% if selections[3] == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    {% endif %}

    {% if show_text_input == False %}
        <input type="submit" value="Select Prepared Model Type">
    {% endif %}
</form>

    {% if answer or show_usermodel_jobyml %}
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Generated config file</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ rendered_yaml }}</textarea>
        </div>
    <!-- <div>Your answer: {{ answer }}</div> -->
    {% endif %}
</body>
</html>