
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>TogoImputation job configuration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/offcanvas/offcanvas.css" rel="stylesheet">

    <style>
        body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
        label {
            margin-top: 0.2rem;
        }
    </style>
</head>

<body class="bg-light">

    <form enctype="multipart/form-data" action="./" method="POST" id="wholegenomeform">

<main role="main" class="container">
    {% if is_message %}
    <div class="alert alert-danger" role="alert">
        {{ message_contents }}
    </div>
    {% endif %}    
      <div class="masthead">
        <h3 class="text-muted">TogoImputation server job configuration</h3>
        <a href="https://sc.ddbj.nig.ac.jp/advanced_guides/imputation_server/">About TogoImputation</a><br>
        <a href="https://sc.ddbj.nig.ac.jp/advanced_guides/imputation_server_tutorial">Tutorial 1 - Using the public reference panel</a><br>
        <a href="https://sc.ddbj.nig.ac.jp/advanced_guides/imputation_server_tutorial2">Tutorial 2 - Using the controlled access reference panel</a><br>
        </div>

    <!-- top -->
    <div class="d-block align-items-center p-3 my-3 text-dark-50">
        <h6 class="mb-0 text-dark lh-100">Parameter 1: Genotype Impuation Panel</h6>
        Select a genotype imputatio panel.
    <!-- Publicly available -->    
<div class="d-flex align-items-center p-3 my-3 text-dark-50">
    <div class="lh-100">
    <div class="lh-100">
        <h6 class="mb-0 text-dark lh-100">Publicly available
<span style="color: red;">(No application required)</span>
</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="GRCh37.1KGP" id="GRCh37.1KGP" checked>
            <label class="form-check-label" for="GRCh37.1KGP">
                <b>1KGP multi-ancestry panel (GRCh37)</b>
            </label>
            <br><span style="color: grey;">
            A reference panel consisting of unrelated subjects of diverse ancestries(N = 2504) from the 1000 Genomes Project (phase 3, version 5).The X-chromosome is included.</span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="GRCh37.1KGP-test" id="GRCh37.1KGP-test">
            <label class="form-check-label" for="GRCh37.1KGP-test">
                <b>TEST 1KGP multi-ancestry panel (GRCh37)</b>
            </label>
            <br><span style="color: grey;">
            FOR TEST SMALL DATA. A reference panel consisting of unrelated subjects of diverse ancestries(N = 2504) from the 1000 Genomes Project (phase 3, version 5).The X-chromosome is included.</span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="GRCh37.1KGP-EAS" id="GRCh37.1KGP-EAS" >
            <label class="form-check-label" for="GRCh37.1KGP-EAS">
                <b>1KGP East Asian-ancestry panel (GRCh37)</b>
            </label>
            <br><span style="color: grey;">
                A reference panel consisting of unrelated subjects of East Asian ancestries(N = 504) from the 1000 Genomes Project (phase 3, version 5).The X-chromosome is included.</span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="GRCh38.1KGP" id="GRCh38.1KGP" >
            <label class="form-check-label" for="GRCh38.1KGP">
                <b>1KGP multi-ancestry panel (GRCh38)</b>
            </label>
            <br><span style="color: grey;">
            A reference panel consisting of unrelated subjects of diverse ancestries(N = 2548) from the 1000 Genomes Project (30x on GRCh38).The X-chromosome is not included.
            </span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="GRCh38.1KGP-test" id="GRCh38.1KGP-test" >
            <label class="form-check-label" for="GRCh38.1KGP-test">
                <b>TEST 1KGP multi-ancestry panel (GRCh38)</b>
            </label>
            <br><span style="color: grey;">
            FOR TEST SMALL DATA. A reference panel consisting of unrelated subjects of diverse ancestries(N = 2548) from the 1000 Genomes Project (30x on GRCh38).The X-chromosome is not included.
            </span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="GRCh38.1KGP-EAS" id="GRCh38.1KGP-EAS" >
            <label class="form-check-label" for="GRCh38.1KGP-EAS">
                <b>1KGP East Asian-ancestry panel (GRCh38)</b>
            </label>
            <br><span style="color: grey;">
            A reference panel consisting of unrelated subjects of East Asian ancestries(N = 508) from the 1000 Genomes Project (30x on GRCh38).The X-chromosome is not included.
            </span>
        </div>
    </div>

    </div>
</div>
    <!-- Controlled access -->    
<div class="d-flex align-items-center p-3 my-3 text-dark-50">
    <div class="lh-100">
    <div class="lh-100">
        <h6 class="mb-0 text-dark lh-100">Controlled access
<span style="color: red;">(Data use application to JGA is required)</span>
</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="BBJ1K_GRCh37.1KGP" id="BBJ1K_GRCh37.1KGP" {% if is_check_1 %} enabled {% else %} disabled {% endif %}>
            <label class="form-check-label" for="BBJ1K_GRCh37.1KGP">
                <b>BBJ1K + 1KGP multi-ancestry panel (GRCh37)
                <span style="color: red;">{% if is_check_1 %} Available {% else %} Unavailable (Data use application to JGA is required) {% endif %}</span>
                </b>
            </label>
            <br><span style="color: grey;">
            A reference panel consisting of the BioBank Japan subjects of Japanese ancestry(N=1037) and the 1000 Genomes Project (phase 3, version 5) subjects of diverse ancestries(N = 2504).In total, N=3541. The X-chromosome is not included.
            </span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="BBJ1K_GRCh37.1KGP-EAS" id="BBJ1K_GRCh37.1KGP-EAS" {% if is_check_2 %} enabled {% else %} disabled {% endif %} >
            <label class="form-check-label" for="BBJ1K_GRCh37.1KGP-EAS">
            <b>BBJ1K + 1KGP East Asian-ancestry panel (GRCh37)
            <span style="color: red;">{% if is_check_2 %} Available {% else %} Unavailable (Data use application to JGA is required) {% endif %}</span>
            </b>
        </label>
            <br><span style="color: grey;">
            A reference panel consisting of the BioBank Japan subjects of Japanese ancestry(N=1037) and the 1000 Genomes Project (phase 3, version 5) subjects of East Asian ancestries(N = 504).In total, N=1541. The X-chromosome is not included.
            </span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="BBJ1K_GRCh38.1KGP" id="BBJ1K_GRCh38.1KGP" {% if is_check_3 %} enabled {% else %} disabled {% endif %} >
            <label class="form-check-label" for="BBJ1K_GRCh38.1KGP">
            <b>BBJ1K Japanese-ancestry panel (GRCh38)
            <span style="color: red;">{% if is_check_3 %} Available {% else %} Unavailable (Data use application to JGA is required) {% endif %}</span>
            </b>
        </label>
            <br><span style="color: grey;">
            A reference panel consisting of the BioBank Japan subjectgsof Japanese ancestry(N = 1026).The X-chromosome is included.
                </span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reference_panel" value="BBJ1K_GRCh38.1KGP-EAS" id="BBJ1K_GRCh38.1KGP-EAS" {% if is_check_4 %} enabled {% else %} disabled {% endif %} >
            <label class="form-check-label" for="BBJ1K_GRCh38.1KGP-EAS">
            <b>BBJ2K Japanese-ancestry panel (GRCh38)
                <span style="color: red;">{% if is_check_4 %} Available {% else %} Unavailable (Data use application to JGA is required) {% endif %}</span>
            </b>
            </label>
            <br><span style="color: grey;">
            A reference panel consisting of BBioBank Japan subjects of Japanese ancestry(N = 1964).The X-chromosome is included.
            </span>
        </div>
    </div>

    </div>

</div>

    <!-- second -->
    <div class="d-flex align-items-center p-3 my-3 text-dark-50">
        <div class="form-group lh-100 w-100">
            <label for="ref_panel_config">User-defined</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="reference_panel" value="others" id="others" >
                <label class="form-check-label" for="others"><br><br>
                </label>
            </div>
            <input type="text" class="form-control" name="ref_panel_config" id="ref_panel_config" placeholder="Other reference panel config file path">
        </div>
    </div>
    </div>
    <!-- third -->

    <div class="d-flex align-items-center p-3 my-3 text-dark-50">
        <div class="form-group lh-100 w-100">
            <label for="target_vcf">Parameter 2: Target VCF file
</label>
<br><span style="color: grey;">
Specify a target VCF file
</span>
<br>
<a href="">How to prepare a target VCF file</a>
            <input type="text" class="form-control" name="target_vcf" id="target_vcf" placeholder="Input target VCF file path">
        </div>
    </div>
    <!-- fourth -->
    <div class="d-flex align-items-center p-3 my-3 text-dark-50">
        <div class="lh-100">
            <h6 class="mb-0 text-dark lh-100">Parameter 3: Output genotype probability</h6>
            <br><span style="color: grey;">
            Specify whether the posterior probability of possible genotypes is included in the output file (default is false)
            </span>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="output_genotype_prob"  id="output_genotype_prob_false" value="false" checked>
                <label class="form-check-label" for="output_genotype_prob_false">
                false
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="output_genotype_prob" id="output_genotype_prob_true" value="true" >
                <label class="form-check-label" for="output_genotype_prob_true">
                true
                </label>
            </div>
        </div>
    </div>
    <!-- fifth -->
    <!--
    <div class="d-flex align-items-center p-3 my-3 text-dark-50">
        <div class="form-group lh-100 w-100">
    -->
            <input type="hidden" class="form-control" name="num_threads" id="num_threads" placeholder="Number of threads" value="16">
    <!--
        </div>
    </div>
    -->
    <!-- sixth -->
    <div class="">
        <p class="text-center">
    <button class="btn btn-primary" type="submit">Set up job</button>
    </p>
    </div>
    
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Configuration for your job</label>
        <br><span style="color: grey;">
        By copying the following configuration and pasting it into <a href="http://localhost:1121/">Sapporo Web</a>. you can submit a genotype imputation job.
        </span>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ configcontent }}</textarea>
    </div>

</main>
</form>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.0/examples/offcanvas/offcanvas.js"></script>
</body>
</html>
