<!DOCTYPE html>
<html>
    <head>
        <title>Whole-genome-imputation</title>
    </head>

    <body>
        <h1>Whole-genome imputation job set up page</h1>
        <form enctype="multipart/form-data" action="/" method="POST" id="wholegenomeform">
            Target VCF file: <input type="text" name="target_vcf" id="target_vcf"/>
            <br />
            Reference panel config file: <input type="text" name="ref_panel_config" id="ref_panel_config"/>
            <br />

            Output genotype probability:
            <input type="radio" name="output_genotype_prob"  id="output_genotype_prob" value="false" checked/>false

            <input type="radio" name="output_genotype_prob" id="output_genotype_prob" value="true" />true
            <br />
            Number of threads: <input type="text" name="num_threads" id="num_threads" />
            <br />
            <input type="submit" id="wholegenomebutton" value="Set up job" onclick="create_config()"/>
            <textarea name="job_config" rows="10" cols="100" id="job_config">{{ configcontent }}</textarea>
        </form>
    </body>
</html>
